<div class="login">

  <section class="login__image">
    <img src="https://cdn.pixabay.com/photo/2015/08/01/13/46/cafe-870276_960_720.jpg" alt="login-restaurant-image" >
  </section>

  <section class="login__content wrapper-padding-login">
    <header>
        <button class="btn btn-login">
          Sign Up   
        </button>
        <button class="btn btn-sign">
          Sign In
        </button>
    </header>

    <div class="login__main">        
        <div class="login__title">
            <p>welcome</p>
            <h3>Fill the form to become part of team</h3>
        </div>
        <div class="login__forms">
          <form>

            <div class="">
                <input class="login-input" type="text" placeholder="Email">            
            </div>

            <div class="">
                <input class="login-input" type="password" placeholder="Password">            
            </div>

            <div>            
              <button class="btn btn-go" routerLink="/dashboard">
                Go  <img src="../assets/img/arrow-right.svg" alt="">
              </button>
            </div>
          </form>
        </div>
    </div>
  </section>

</div>